* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* HEADER  */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/vass.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid #707070;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: start;
}

.hero-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.52px;
    line-height: 35px;
}

.hero-text span {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.hero-text h1 {
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 1.5px;
}

.hero-text h2 {
    font-weight: 700;
    font-size: 1.5em;
}

#name-bold {
    font-weight: bold;
}

#profile-picture {
    position: absolute;
    top: 69%;
    left: 50%;
    border: 1.5px solid #fff;
    border-radius: 50%;
    width: 170px;
}


/* THREE ICONS IN UPPER RIGHT CORNER */

.circles {
    border: 1.5px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    position: absolute;
    top: 15%;
    left: 50%;
    display: flex;
}


/* SECTIONS WITH INFORMATION */

section {
    text-align: center;
    padding: 55px;
    line-height: 25px;
}

section:nth-child(even) {
    background-color: #F4F4F4;
}

h4 {
    font-size: 1.2em;
    background: #FA382F;
    color: #fff;
    display: inline-block;
    padding: 3px 13px;
    margin-bottom: 30px;
}


/* INTRO SHORT PRESENTATION */

.short-presentation p {
    text-indent: 45pt;
    text-align: start;
    padding-top: 0px;
}

.figure {
    display: flex;
    align-items: center;
    position: absolute;
    padding-top: 6px;
}

#figure-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FA382F;
}

#figure-line {
    width: 40px;
    height: 3px;
    background: #FA382F;
}


/* MY TOUGHTS  */

.thoughts-flex {
  margin-top: 10px;
}
.my-thoughts a{
  color: black;
  text-decoration: none;
}

.thought-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 30px;
}

.thought-card p {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
}

.thought-card-img {
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
}

.thought-headline {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.thought-card-text {
  margin: 15px 0;
  color: #000;
  font-size: 17px;
  line-height: 1.5;
  margin: 5px 0 15px 0;
}


/* .my-thoughts {
  text-align: center;
}

.thoughts-flex {
  display: flex;
  text-align: start;
  justify-content: space-between;
}

.my-thoughts a{
  color: black;
  text-decoration: none;
}
.date {
  font-weight: 700;
}
.thought-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 30px;
}
.thought-card-img {
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
} */


/* SKILLS */

.skill-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-lists ul {
    margin-top: 40px;
    padding-inline-start: 0px;
    list-style: none;
    width: 40%;
    text-align: start;
}

.skill-lists li:first-child {
    font-weight: bold;
    color: #FA382F;
}


/* FEATURED PROJECTS */

.project-container {
    padding: 5px;
}

.project-container img {
    width: 100%;
    border: solid 2px white;
}

.project-container p {
    font-size: 0.9em;
    text-align: start;
    padding-top: 20px;
}
.project-container span,
.project-container a {
    color: red;
    font-weight: 700;
}

.more-info-div {
    color: red;
    font-weight: 700;
}

.project-box {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    text-align: start;
}

.tech-used-box p {
    background: pink;
    display: inline;
    padding: 3px;
    font-size: 12px;
    color:black;
}
/* OTHER PROJECTS */
.other-project-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  text-decoration: none;
}

.other-project-card:hover {
  cursor: pointer;
}
.project-card-text {
  margin: 15px 0;
  color: #000;
  font-size: 17px;
  line-height: 1.5;
  text-decoration: none;
}

.text-h {
  color: red;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

}



/* MORE INFO TOGGLE WITH >> */

.more-info-box {
    display: none;
    font-size: 0.9em;
    text-align: start;
}

.active+.more-info-box {
    display: block;
}


/* IMAGE BOX FADING ON CLICK */

.image-box {
    position: relative;
    width: 350px;
    background: rgba(0, 0, 0, 0.699);
}

.project-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle a{
    text-decoration: none;
    color: #fff;
}


.image-box .project-image {
    opacity: 0.6;
}

.image-box:hover .project-image {
  opacity: 0.8;
}
.image-box:hover .middle {
    opacity: 1;
}

.text {
    background-color: #FA382F;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}


/* FOR MORE INFO + icons */

.for-more .circles {
    margin-top: 40px;
    border: 3px solid #FA382F;
    width: 60px;
    height: 60px;
}

.for-more .icon {
    height: 30px;
    widows: 30px;
}

.icons-bottom {
    display: flex;
    justify-content: space-evenly;
}

.for-more p {
    font-size: 0.8em;
    padding-top: 0px;
}

.for-more a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: 700;
}

.for-more a:hover {
    color: #FA382F;
}

/* FOOTER */

footer {
    background-color: #FA382F;
    color: #fff;
    text-align: center;
    padding: 55px;
    line-height: 25px;
}


/* TABLET */

@media (min-width: 650px) and (max-width: 999px) {
    /* HEADER/HERO IMAGE SECTION */
    h4 {
        font-size: 1.4em;
    }
    .hero-text {
        top: 50%;
        left: 46%;
    }
    .hero-text h2 {
        font-size: 3.5em;
    }
    .hero-text h2 {
        font-size: 1.6em;
    }
    #profile-picture {
        top: 64%;
        left: 60%;
        width: 190px;
    }
    /* THREE ICONS IN UPPER RIGHT CORNER */
    .circles {
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    .icons {
        top: 15%;
        left: 64%;
    }
    section {
        padding: 50px 150px;
    }
    .skill-lists {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* THOUGHTS */
    .thoughts-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .thought-card {
      width: 45%;
    }
}


/* DESKTOP */

@media (min-width: 1000px) {
    /* HEADER/HERO IMAGE SECTION */
    .hero-text {
        top: 50%;
        left: 50%;
    }
    .hero-text p {
        font-size: 1em;
        letter-spacing: 2px;
    }
    .hero-text h2 {
        font-size: 4.3em;
    }
    .hero-text h2 {
        font-size: 1.8em;
    }
    #profile-picture {
        top: 64%;
        left: 65%;
        width: 200px;
    }
    /* THREE ICONS IN UPPER RIGHT CORNER */
    .circles {
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    .icons {
        top: 15%;
        left: 68%;
    }
    section {
        padding: 50px 350px;
    }
    .skill-lists {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .icons-bottom {
        display: flex;
        justify-content: space-evenly;
        margin-left: 25px;
    }
    h4 {
        font-size: 1.8em;
    }
    /* FEATURED PROJECTS */
    .project-container {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .project-container img {
        width: 100%;
        border: solid 2px white;
    }
    .project-container p {
        font-size: 0.9em;
        text-align: start;
    }
    .project-container span,
    .project-container a {
        color: red;
        font-weight: 700;
    }
    .project-box {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        text-align: start;
        width: 45%;
    }
    .tech-used-box p {
        background: pink;
        display: inline;
        padding: 3px;
        font-size: 12px;
        color:black;
    }

    /* THOUGHTS */
    .thoughts-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .thought-card {
      width: 45%;
    }
}